@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 9% 98%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 60 5% 96%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --ticket-panel-height: 720px;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

:root {
  --markprompt-primary: #1c1917;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.loading-dots {
  display: inline-flex;
  align-items: center;
  margin-left: -1.5px;
}

.loading-dots span {
  @apply bg-stone-500;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  width: 5px;
  height: 5px;
  border-radius: 9999px;
  display: inline-block;
  margin: 0 1.5px;
}

.loading-dots span:nth-of-type(2) {
  animation-delay: 0.2s;
}

.loading-dots span:nth-of-type(3) {
  animation-delay: 0.4s;
}

.MarkpromptButton[data-variant='primary'] {
  @apply font-medium;
}

.MarkpromptButton[data-variant='primary']:not(:disabled)::before {
  background-image: none;
}

.csat-star,
.csat-container .csat-heading {
  --base-delay: 0.05s;

  animation-delay: calc(var(--base-delay) * (var(--index) - 1));
  animation-fill-mode: both;
  animation-name: slide-up-subtle;
  animation-duration: 500ms;
  transition-timing-function: ease-in;
}

.csat-star:nth-child(1) {
  --index: 1;
}
.csat-star:nth-child(2) {
  --index: 2;
}
.csat-star:nth-child(3) {
  --index: 3;
}
.csat-star:nth-child(4) {
  --index: 4;
}
.csat-star:nth-child(5) {
  --index: 5;
}

@keyframes blink {
  0% {
    opacity: 1;
    transform: translateY(1px);
  }
  50% {
    opacity: 0.2;
    transform: translateY(-1px);
  }
  100% {
    opacity: 1;
    transform: translateY(1px);
  }
}

@keyframes slide-up-subtle {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
